<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <link href="/style.css" rel="stylesheet">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class='body_div'>
    <div class="title_container">
      <h1><%= title %></h1>
    </div>

    <% if (partial_name == 'main') { %>
      <% include main %>
    <% } else if (partial_name == 'new') { %>
      <% include new %>
    <% } else { %>
        <p>Sorry wrong path.</p>
    <% } %>

  </div>
  <footer>
    <div class="container"></div>
  </footer>
  <script src='/index.js'></script>
</body>
</html>
